body * {
  box-sizing: border-box;
}

.card {
  display: inline-flex;
  align-items: center;
  font-size: 1rem;
  padding: 0.5em 0.5em;
  /* 	color: #495057; */
  background-color: #ffffff;
  border-radius: 1em;
  border: 0.1em solid #ced4da;
  box-shadow: 0 3px #ced4da;
  transition: all 0.1s;
  user-select: none;
  margin-bottom: 1em;
  margin-right: 1em;
}

.text {
  font-size: small;
}
.card:focus,
.card:hover {
  background-color: #ffffff;
  outline: 2px #1971c2;
}
